body {
}

.LoginControl
{
background-color:#F9F9F9;
border-color:#E5E5E5;
border-style:solid;
border-width:1px;
font-family:Verdana;
font-style:normal;
font-weight:bold;
font-size:13px;
color:#333333;   

}

a:Link
{
	color:Gray;
	font-family:Verdana;
	font-style:normal;
	font-weight:bold;
}

a:Active
{
	color:#AB6913;
	font-family:Verdana;
	font-style:normal;
	font-weight:bold;
}

a:Visited
{
	color:Black;
	font-family:Verdana;
	font-style:normal;
	font-weight:bold;
}


a:Hover
{
	color:#035137;
	font-family:Verdana;
	font-style:normal;
	font-weight:bold;
}

.main
{
	position:relative;
	top:70px;	
}

.main2
{
	position:relative;
	top:10px;	
}

.CommandButton a:Link
{
	color:Gray;
	font-family:Verdana;
	font-style:normal;
	font-weight:bold;
}