<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NVFRCommon.Properties.Settings.NVFRConnectionString"
            connectionString="Data Source=.;Initial Catalog=NVFR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>